/*theFrayen.css*/

h2 {margin-top:10px;}
h3 {margin-bottom:10px;}
h4 {margin:0px;}

/*table {width:720px;}*/

table td, table td * {
    vertical-align: top;
}

button{
	border:none;
	background-color:#FFFFFFAA;
}
input,select{
	background-color:#FFFFFF55;
	border:none;
}
.controls {
   border: 1px black;
   border-radius: 30px;
   padding: 30px;
}

/*the standard rounded container used in the layout*/
.textContainer {
    background-color: #eeeeff;
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeff), to(#65b3f2));
    background: -moz-linear-gradient(top,  #eeeeff,  #65b3f2); 
    margin: auto;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid black;
}
/*rounded container for page footer elements*/
.footerContainer {
    background-color: #5AA0D833;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5AA0D838', endColorstr='#345D7E5E');
    background: -webkit-gradient(linear, left top, left bottom, from(#5AA0D838), to(#345D7E5E));
    background: -moz-linear-gradient(top, #5AA0D838, #345D7E5E); */
    border-radius: 15px;
    margin:auto;
    /*padding: 10px;
    border: 1px solid #aeaeae;*/
    text-align: center;
}

canvas:-webkit-full-screen {
  width: 100% !important;
}
canvas:-moz-full-screen {
  width: 100% !important;
}
canvas:-ms-fullscreen {
  width: 100% !important;
}
canvas:fullscreen {
  width: 100% !important;
}

/* While in fullscreen, hide any children with class 'tohide' */
:-webkit-full-screen .tohide {
  display: none;
}
:-moz-full-screen .tohide {
  display: none;
}
:-ms-fullscreen .tohide {
  display: none;
}
:fullscreen .tohide {
  display: none;
}

